  <div id="mobile-box">

    <!-- Card -->
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img id="img_album" class="card-img-top paused" src="https://api.deezer.com/album/302127/image"
          alt="Card image cap" onclick="togglePlayPause();">
          <!--
          <div class="card-img-overlay">
            <h3 id="no-preview-text" class="justify-content-center text-center"></h3>
        </div>
        -->
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body text-center music-info-card">
        <h5 class="h5 font-weight-bold" id="artist_name">Dj Flam</h5>
        <p class="mb-0" id = "track_title">Urban Bachata remix</p>
        <p class="mb-0" id = "album_title" style="font-style: italic;">Album</p>
        <audio id="music-player" preload="true">
          <source src="https://cdns-preview-d.dzcdn.net/stream/c-deda7fa9316d9e9e880d2c6207e92260-10.mp3">
        </audio>
        <label for="volume-control"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
  <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
  <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
  <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>

</svg></label>
           <input id="volume-control" name="volume-control" type="range" class="form-range" min="0" max="100" value="100" step="5" style="margin-bottom:-5px" onchange="setVolume(this.value);">
      </div>
    </div>
    <!-- Card -->
  </div>