
#mobile-box {
  color: #17a2b8;
  filter: brightness(1.25);
}

#img_album.playing {
  animation: pulse 5s linear infinite;
}
#img_album.paused {
  filter:  grayscale(1) opacity(50%);
}

@-webkit-keyframes "pulse" {
0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    /*filter: brightness(1);*/
    border-radius: 10%;
}
25% {
   -webkit-transform: scale(0.95);
   transform: scale(0.98);
  /*filter: brightness(1.5);*/
  border-radius: 25%;
}
50% {
   -webkit-transform: scale(0.9);
   transform: scale(0.96);
  /*filter: brightness(2);*/
  border-radius: 50%;
}
75% {
   -webkit-transform: scale(0.98);
   transform: scale(0.98);
  /*filter: brightness(1.5);*/
  border-radius: 25%;
}
100% {
   -webkit-transform: scale(1);
   transform: scale(1);
  /*filter: brightness(1);*/
  border-radius: 10%;
}
}

/*
.music-info-card {
  color: #17a2b8;
  filter: brightness(1.25);
}
*/

#no-preview-text {
  color: ghostwhite;
  text-shadow: black 1px 1px 10px;
}