 /* Surveys */
 

 .card {
   background-color: #333333;
   border-radius: 15px 15px 15px 15px;
   padding: 0px 0px 0px 0px;
 }
.card-header {
  padding: 10px 5px 10px 5px;
  background-color: #333333;
}
.card-box > .card-header {
  padding: 10px 5px 10px 5px;
  background-color: #17a2b8;
}
.card-title {font-size: 16px;}
.card-title > a {color: #17a2b8;}

.tabbable > .nav > li {
  background-color: #17A2B8;
  inline-size: auto;
  min-inline-size: 50px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
}
.tabbable > .nav > li > a {
  display:block;
  height:100%;
  width:100%;
  color: white;
}
.tabbable > .nav > li > a[class=active] {color: #333333;}

.lightable-material > tr, td, th {
  border: 1px solid #333333;
  padding: 5px 5px 5px 5px;
}
.lightable-material > tbody {
  border: 1px solid #333333;
  padding: 5px 5px 5px 5px;
}



/* Report */

td[colspan="3"] {
 color: white;
}

tfoot {
	color: #FFFFFF;
	background-color: #4a4f55;
}


    
    /*
    .tabbable > .nav > li[class=active] {background-color: #FFFFFF;}
    .tabbable > .nav > li[class=active] > a {color: #343A40};
    */

/* Exploration */


.content {background-color: #333333;}
.card-body {
  background-color: #333333;
  padding: .25rem;
}
h2 {color:white;}
.control-label {color:#D3D3D3;}

label {
  color:#D3D3D3;
  margin-bottom: 0px;
}
label > div > span {
  color: black;
}

.shiny-text-output {color:#D3D3D3;}

thead {color:#D3D3D3;}


.dataTable {
  table-layout: fixed;
}


.dataTable > thead {
  background-color: #17a2b8;
  color: black;
  padding: 0rem 1rem 0rem 0rem;
  
}

.dataTable > tbody > tr > td {
  background-color: #333333;
  color: white;
  white-space: pre-line;
}

.connectedSortable {
  min-height: 25px;
}

